menu "REMOTE UART BRIDGE"

    choice REMOTE_UART_ROLE
        prompt "Network role"
        default REMOTE_UART_ROLE_SERVER

        config REMOTE_UART_ROLE_SERVER
            bool "Server (listen for connections)"
            help
                A remote client connects to this device.

        config REMOTE_UART_ROLE_CLIENT
            bool "Client (connect to remote)"
            help
                Device connects to a remote server.
    endchoice
                
endmenu
