menu "REMOTE UART BRIDGE"

    choice REMOTE_UART_ROLE
        prompt "Device role"
        default REMOTE_UART_ROLE_SERVER_CHOICE if !IDF_TARGET_ESP32C3
        default REMOTE_UART_ROLE_CLIENT_CHOICE if IDF_TARGET_ESP32C3

    config REMOTE_UART_ROLE_SERVER
        bool "Server (listen for connections)"

    config REMOTE_UART_ROLE_CLIENT
        bool "Client (connect to remote)"

    endchoice

endmenu
